parameters:
    level: 5
    paths:
        - src/Entity/Tache.php
        - src/Controller/TacheController.php
        - src/Repository/TacheRepository.php
        - src/Entity/PreferenceAlerte.php
        - src/Controller/PreferenceAlerteController.php
        - src/Repository/PreferenceAlerteRepository.php
        - src/Entity/Notification.php
        - src/Controller/NotificationController.php
        - src/Repository/NotificationRepository.php
        - src/Entity/StudentIntelligenceProfile.php
        - src/Service