{% extends 'front/base.html.twig' %}

{% block title %}Carte des salles{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>MAP PAGE</h1>
    <p>Placeholder for map</p>
</div>
{% endblock %}