{% extends 'base.html.twig' %}

{% block title %}Edit PropositionReunion{% endblock %}

{% block body %}
    <h1>Edit PropositionReunion</h1>

    {{ include('proposition_reunion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_proposition_reunion_index') }}">back to list</a>

    {{ include('proposition_reunion/_delete_form.html.twig') }}
{% endblock %}
